﻿@model ModelPractice.Models.TestModel

<html>
    <head>

    </head>
    <body> 
        <div>
            <h1>My Name and ID</h1>
            <h3>ID: @Model.ID</h3>
            <h3>First Name: @Model.FirstName</h3>
            <h3>Last Name: @Model.LastName</h3>
        </div>
        @RenderBody()
    </body>
</html>